.app {
  padding-inline: 20px;

  &__title {
    margin: 0;
    padding-block: 30px;
    color: #363235;
    text-align: center;
  }

  &__form {
    display: grid;
    align-content: center;
    justify-content: center;

    margin-inline: auto;
    padding-inline: 10px;
    height: 200px;
    max-width: 500px;
    border-radius: 10px;
    background-color: #e6d7e2;
  }

  &__field {
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 100%;
    max-width: 300px;
    height: 40px;
    border:none;
    outline:none;
    border-radius:22px;

    line-height:1.6em;
    font-size:1.5em;
  }

  &__strength {
    display: flex;
    justify-content: space-evenly;
  }

  &__strength-section {
    width: 80px;
    height: 8px;
    border-radius: 5px;
  }
}
